.delete-heal-btn {
    border: 0 solid;
    background-color: transparent;
    border-radius:3px;
}

.delete-heal-btn:hover {
    border: 0 solid;
    background-color: rgba(0,0,0,0.3);
}

table {
    border-collapse: collapse;
    margin:7px;
    border: 1px solid #a0a0a0;
    border-radius:50px;
}

td, th {
    text-align: center;
    padding: 8px;
    /* color:#777;*/
}

.table-id {
    width: 50px;
}

.table-name {
    width: 115px;
}

.table-cd {
    width: 60px;
}

.table-button {
    width: 75px;
}
