.delete-heal-btn, .delete-damage-btn {
    border: 0 solid;
    background-color: transparent;
    /*border-radius:3px;*/
    height: 40px;
    width: 100%;
    transition: background-color 100ms;
}

.delete-heal-btn:hover, .delete-damage-btn:hover {
    border: 0 solid;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 100ms;
}


.list-of-healing-cds {
    margin: 20px 7px 7px 7px;
    border-radius: 2px;
    border-collapse: collapse;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    background-color: #fcfcfc;
}

.list-of-damage-times {
    align-self: flex-start;
    margin: 20px 7px 7px 7px;
    border-radius: 2px;
    border-collapse: collapse;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    background-color: #fcfcfc;
}

/* damage table */
.damage-table-times tr:nth-child(even) {
    background-color: #FFCCC7;
}

.damage-table-times tr:nth-child(odd) {
    background-color: #FFDEDB;
}

.damage-table-times th {
    background-color: #fcfcfc;
}

td, th {
    text-align: center;
    padding: 8px;
    /* color:#777;*/
}

.table-id {
    width: 50px;
}

.table-name {
    width: 115px;
}

.table-cd {
    width: 60px;
}

.table-button {
    width: 75px;
    display: inline-block;
    margin: 0 auto;
}
